XSD_File_CAT.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Company">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Employee">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Emp-name" type="xs:string" />
              <xs:element name="Emp-age" type="xs:integer" />
              <xs:element name="Emp-salary" type="xs:long" />
              <xs:element name="Emp-emailid" type="xs:string" />
              <xs:element name="Emp-phonenum" type="xs:unsignedLong" />
              <xs:element name="Emp-designation" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Employee">
      <xs:complexType>
        <xs:sequence>
            <xs:element name="Emp-salary">
                <xs:simpleType>
                    <xs:restriction base="xs:long">
                        <xs:minInclusive value="50000"/>
                        <xs:maxInclusive value="200000"/>
                    </xs:restriction>
                </xs:simpleType>

            </xs:element>
        </xs:sequence>
      </xs:complexType>
  </xs:element>
</xs:schema>